bs4==0.0.1
dadata==21.10.1
Flask==2.1.0
Jinja2==3.1.1
Flask-REST==1.3
flask-restx==0.5.1
jsonschema==4.4.0
mysql-connector-python==8.0.21
pandasql==0.7.3
SQLAlchemy==1.4.26
selenium==4.1.2
regex==2021.11.10
pandas==1.4.1
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.0
lxml==4.6.1